/* Google Font Family 1.Jost 2.Roboto */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  /* font-family: "Fredoka", sans-serif; */
}
h1,
h2,
h3,
h4,
h5,
h6,
.fJost {
  font-family: "Jost", sans-serif;
}

/* TailWind Css And DaisiUI css Import */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #e40819;
  --color-base-200: #161616;
  --color-text: #cecfd1;
}

/* Navbar Profile Item Css */
.profileItem {
  @apply flex items-center gap-3 hover:text-[#ffffffbf] cursor-pointer duration-200;
}
.footerSocialIcon {
  @apply w-8 h-8 border border-[#bdbdbd6e] rounded-full flex items-center justify-center hover:bg-primary hover:border-primary duration-300 cursor-pointer;
}

.authInput {
  @apply input w-full bg-black/10 border border-primary/50;
}

.movieInput {
  @apply input rounded w-full border-none bg-[#161616] mt-1 mb-2;
}

/* Your custom CSS below */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

/* Input image filed css for update profile Image filed */
.inputImgPro {
  max-width: 190px;
  display: none;
}

.labelFileImgPro {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 100%;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #0b0b0b;
  font-weight: 700;
  cursor: pointer;
  z-index: 999;
}
.labelFileImgUpdatePage {
  width: 100% !important;
}
